<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Method</h5>
    <p class="card-text">In the preparation and deployment of this site, in addition to Collection Builder: Google Sheets, Visual Studio Code, GitHub, and GitHub Pages were used for this website.
        <ul>
        <li>Google Sheets - used to prepare the metadata you see represented in each of the game records</li>
        <li>Visual Studio Code - used to code in a local server environment</li> 
        <li>Github - used to store all site files that enables potential collaboration and adds transparency to this project’s design</li>
        </ul>
        The banner image above was made using Hydra Video Synth.
        
    </p>
  </div>
</div>