<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Method</h5>
    <p class="card-text">In the preparation and deployment of this site, in addition to Collection Builder: Google Sheets, Visual Studio Code, GitHub, and GitHub Pages were used for this website.
        <ul>
        <li><a href="https://www.google.com/sheets/about/" target="_blank" rel="noopener">Sheets</a> - used to prepare the metadata you see represented in each of the game records</li>
        <li><a href="https://code.visualstudio.com/" target="_blank" rel="noopener" Visual Studio Code - used to code in a local server environment</li> 
        <li>Github - used to store all site files that enables potential collaboration and adds transparency to this project’s design</li>
        <li>Github Pages - used to deploy website</li>
        </ul>
        The banner image above was made using <a href="https://https://hydra.ojack.xyz/" target="_blank" rel="noopener">Video Synth.</a>
        <a href="https://collectionbuilder.github.io/" target="_blank" rel="noopener">CollectionBuilder</a>
        <p>This digital collection is built with <a href="https://collectionbuilder.github.io/" target="_blank" rel="noopener">CollectionBuilder</a>, an open source framework for creating digital collection and exhibit websites that is developed by faculty librarians at the University of Idaho Library following the <a href="https://lib-static.github.io" target="_blank" rel="noopener">Lib-Static</a> methodology.</p>
        
    </p>
  </div>
</div>